In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup 
import requests

In [2]:
website_url = requests.get('https://www.orfonline.org/covid19-tracker/').text

In [3]:
soup = BeautifulSoup(website_url,'lxml')
print(soup.prettify())

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <link href="https://cdn.sucuri.net/sucuri-firewall-block.css" rel="stylesheet"/>
  <section class="center clearfix">
   <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
   <title>
    Sucuri WebSite Firewall - Access Denied
   </title>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css"/>
  </section>
 </head>
 <body>
  <div id="main-container">
   <header class="app-header clearfix">
    <div class="wrap">
     <a class="logo" href="https://www.sucuri.net/?utm_source=firewall_block">
     </a>
     <span class="logo-neartext">
      Website Firewall
     </span>
     <a class="site-link" href="https://sucuri.net/?utm_source=firewall_block">
      Back to sucuri.net
     </a>
    </div>
   </header>
   <section class="app-content access-denied clearfix">
    <div class="box center width-max-940">
     <h1 class="brand-font font-size-xtra no-margin">
      <i class="icon-circle-red">
      </i>
      Access Denied - Sucuri Website Firewall
     </h1>
     <p class="medium-text code-snippet">
      If you are the site owner (or you manage this site), please whitelist your IP or if you think this block is an error please
      <a class="color-green underline" href="https://support.sucuri.net/?utm_source=firewall_block">
       open a support ticket
      </a>
      and make sure to include the block details (displayed in the box below), so we can assist you in troubleshooting the issue.
     </p>
     <h2>
      Block details:
     </h2>
     <table class="property-table overflow-break-all line-height-16">
      <tr>
       <td>
        Your IP:
       </td>
       <td>
        <span>
         183.83.247.236
        </span>
       </td>
      </tr>
      <tr>
       <td>
        URL:
       </td>
       <td>
        <span>
         www.orfonline.org/covid19-tracker/
        </span>
       </td>
      </tr>
      <tr>
       <td>
        Your Browser:
       </td>
       <td>
        <span>
         python-requests/2.22.0
        </span>
       </td>
      </tr>
      <tr>
       <td>
        Block ID:
       </td>
       <td>
        <span>
         BNP005
        </span>
       </td>
      </tr>
      <tr>
       <td>
        Block reason:
       </td>
       <td>
        <span>
         Bad bot access attempt.
        </span>
       </td>
      </tr>
      <tr>
       <td>
        Time:
       </td>
       <td>
        <span>
         2020-03-29 04:14:06
        </span>
       </td>
      </tr>
      <tr>
       <td>
        Server ID:
       </td>
       <td>
        <span>
         18002
        </span>
       </td>
      </tr>
     </table>
    </div>
   </section>
   <footer>
    <span>
     © 2019 Sucuri Inc. All rights reserved.
    </span>
    <span id="privacy-policy">
     <a href="https://sucuri.net/privacy-policy?utm_source=firewall_block" rel="nofollow noopener" target="_blank">
      Privacy
     </a>
    </span>
   </footer>
  </div>
 </body>
</html>

In [4]:
Title = soup.title.text
Title

'World - Covid-19 Tracker | Live Cases & Deaths'

In [4]:
data_tag = soup.find_all('div',class_='areaWrapper')
data_tag

[]

In [6]:
Country_Name = []
Confirmed  = []
Recovered = []
Deaths = []

In [7]:
Country_Name = []
for item in data_tag[0::4]:
    if len(item)==1:
        match = item.text

        Country_Name.append(match)
    else:
        Country_Name.append(np.nan)

In [8]:
len(Country_Name)

200

In [9]:
Total_confirmed = []
for item in data_tag[1::4]:
    if len(item)==1:
        match = item.text

        Total_confirmed.append(match)
    else:
        Total_confirmed.append(np.nan)

In [10]:
len(Total_confirmed)

200

In [11]:
Recovered = []
for item in data_tag[2::4]:
    if len(item)==1:
        match = item.text

        Recovered.append(match)
    else:
        Recovered.append(np.nan)

In [12]:
len(Recovered)

200

In [13]:
Deaths = []
for item in data_tag[3::4]:
    if len(item)==1:
        match = item.text

        Deaths.append(match)
    else:
        Deaths.append(np.nan)

In [14]:
len(Deaths)

200

In [15]:
Covid_data = pd.DataFrame()
Covid_data['Country_Name'] = Country_Name
Covid_data['Total_confirmed'] = Total_confirmed
Covid_data['Total_Recovered'] = Recovered
Covid_data['Total_Deaths'] = Deaths

In [16]:
Covid_data

,Country_Name,Total_confirmed,Total_Recovered,Total_Deaths
0,\n USA\n,"123,750","3,231","2,227"
1,\n Italy\n,"92,472","12,384","10,023"
2,\n China\n,"81,439","75,448","3,300"
3,\n Spain\n,"73,235","12,285","5,982"
4,\n Germany\n,"57,695","8,481",433
...,...,...,...,...
195,\n Guinea-Bissau\n,2,0,0
196,\n Kosovo\n,2,0,0
197,\n St. Vincent Grenadines\n ...,1,1,0
198,\n Timor-Leste\n,1,0,0
199,\n Papua New Guinea\n,1,0,0

In [23]:
Covid_data.Country_Name

0                      \n              USA\n
1                    \n              Italy\n
2                    \n              China\n
3                    \n              Spain\n
4                  \n              Germany\n
                             ...
195          \n              Guinea-Bissau\n
196                 \n              Kosovo\n
197    \n              St. Vincent Grenadines\n      ...
198            \n              Timor-Leste\n
199       \n              Papua New Guinea\n
Name: Country_Name, Length: 200, dtype: object

In [28]:
#re.sub('[^A-Za-z0-9]+', '', Covid_data.Country_Name.str)
Covid_data['Country_Name'] = Covid_data['Country_Name'].str.replace('\W', '')

In [30]:
Covid_data

            Country_Name Total_confirmed Total_Recovered Total_Deaths
0                    USA         123,750           3,231        2,227
1                  Italy          92,472          12,384       10,023
2                  China          81,439          75,448        3,300
3                  Spain          73,235          12,285        5,982
4                Germany          57,695           8,481          433
..                   ...             ...             ...          ...
195         GuineaBissau               2               0            0
196               Kosovo               2               0            0
197  StVincentGrenadines               1               1            0
198           TimorLeste               1               0            0
199       PapuaNewGuinea               1               0            0

[200 rows x 4 columns]